body{
    background-color: blue;
}

.container{
    max-width: 400px;
}

.form-check{
    width:350px;
}

.selector{
    
    width: 50%;
    height:50px;
    margin-top: 20%;
    margin-left:35%;
}

h1{
    font-family: cursive;
    text-align: center;
    color: white;
}

.selector button{
    padding: 20px;
}

.new-input{
    width: 40%;
    height:150px;
    background-color: yellow;
    margin: 2% auto;
}

.new-input h3 , h4{
    font-family: cursive;
    text-align: center;
    position: relative;
    top: 25%;
}

.todos{
    width: 40%;
    height: auto;
    background-color: yellow;
    display: inline;
}

li{
    border: 1px solid black;
    margin: 1% 2% 2% 3%;
    padding: 20px;
    background-color: aquamarine;
    width: 25%;
    float: left;
    height: 500px;
}

.myitems{
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: yellow;
}

button{
    padding: 15px;
    width: 100px;
    margin-top:30px;
    margin-left: 40px;
    position:sticky;
}

.inner-todos{
    height: auto;
    width: 90%;
    margin: 2% auto;
}

.save{
    display: none;
}

.users{
    display: none;
    width: 80%;
    margin: 20px auto;
    color: white;
    height:400px;
    background-color:darkgray;
}

.users div{
padding: 10px;
}